extends layout.pug

block midNavBar
    a(class="brand-logo white-text center" id="user") Welcome #{user}

block content
    .tenpx
    .tenpx
    .tenpx
    .carousel
        a.carousel-item(href="")
            img.img_C(src="../images/Logo.svg")
        a.carousel-item(href="home/minesweeper")
            img.img_C(src="../images/minesweeper-game.svg")
        a.carousel-item(href="home/flappybird")
            img.img_C(src="../images/flappyBird-game.svg")
        a.carousel-item(href="home/A_F")
            img.img_C(src="../images/A_F.svg")
        a.carousel-item(href="home/snake")
            img.img_C(src="../images/snake-game.svg")  
block script
    script(src="../javascripts/home/initHome.js")