extends layout.pug

block midNavBar
    a(class="brand-logo white-text center" id="user")

block content
    .section.no-pad-bot
        #WelcomeDiv.container
            br
            br
            h1.header.center.SecundaryText.text-lighten-2.TitleWP WofPlay
            .row.center
                h5.header.col.s12.light Juega - Compite - Disfruta
            .row.center
                a#register-button.btn-large.waves-effect.waves-light.NavBarWP.dark-1(href='/register') Registrate
            br
            br
    #particles.parallax
block script
    script(type='text/javascript' src='../javascripts/jquery.particleground.min.js')
