doctype html  
html(lang='en')  
    head
        title= title     
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href="../stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection")
        link(href='../stylesheets/style.css', rel='stylesheet')
        if !index    
            link(href='../stylesheets/responsive.css', rel='stylesheet')

    body
        nav(class= 'NavBarWP' role="navigation")
            div(class="nav-wrapper container")
                if user
                    a(id="logo-container" href="/home" class="brand-logo white-text")
                        img(src="../images/LogoS.png")
                else
                    a(id="logo-container" href="/" class="brand-logo white-text")
                        img(src="../images/LogoS.png")
                block midNavBar
                ul(class="right hide-on-med-and-down")
                    li
                        if user
                            a(href="" data-target="slide-out" class="sidenav-trigger white-text show-on-large button-collapse")
                                i.large.material-icons account_box
                        if index
                            a.white-text(href='./login') Iniciar Sesi&oacute;n
        if !index              
            ul(id="slide-out" class="sidenav")
                li
                    div(class="user-view")
                        div(class="background")
                            img(src="../images/SapceBG.png")
                        a(href="#user")
                            img(class="circle" src="../images/LogoS.png")
                        a(href="#name")
                            span(class="white-text name")=user
                        a(href="#email")
                            span(class="white-text email")=mail
                li
                    a(href="/logout") LogOut
                li
                    div(class="divider")
                li
                    a(class="subheader") Subheader
                li
                    a(class="waves-effect" href="#!") Third Link With Waves

            div(id="index-banner" class="parallax-container content")
                block content

        if index  
            div(id="index-banner" class="parallax-container")
                block content
        
        block postBanner


        footer(class="page-footer")
            div(class="container")
                div(class="row")
                    div(class="col l6 s12")
                        h5(class="white-text") Company Bio
                    div(class="col l3 s12")
                        h5(class="white-text") Settings
                    div(class="col l3 s12")
                        h5(class="white-text") Connect
    
            div(class="footer-copyright")
                .container
                    | Made by 
                    a.brown-text.text-lighten-3(href='') Andres Rodart

        block scriptPre
        
        script(src='../javascripts/jquery-3.3.1.min.js')
        script(src='../javascripts/materialize.js')
        if !index      
            script(src='../javascripts/home/sideNav.js')
            script(src='../javascripts/jquery.validate.min.js')
        block script