extends layout.pug
block head

block content
    .container.z-depth-1.lighten-4.row.TitleWP#Cargando
            |Cargando tabla
    .section
    .container.z-depth-1.lighten-4.row.NavBarWP
        #probaTable
            |
block script
    script(src='../javascripts/home/initProba_2.js')